* {
    margin: 0;
    padding: 0;
}

html, body, .g-wrap {
    height: 100%;
}

.g-wrap {
    background-image: url("../images/bg.png");
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}

.g-pc .g-wrap {
    max-width: 375px;
    margin: 0 auto;
}

.prize {
    display: flex;
    overflow: hidden;
    height: 2.67rem;
    width: 5.10rem;
    margin: 4.14rem auto 0;
}

.prize-item {
    flex: 1;
    width: 0;
    height: 100%;
    background: url("../images/prize.png");
    background-size: 100% auto;
    transition: 3s ease-out;
    &:nth-of-type(1) {
        transition-delay: 0s;
    }
    &:nth-of-type(2) {
        transition-delay: 0.2s;
    }
    &:nth-of-type(3) {
        transition-delay: 0.4s;
    }
    &.prize-item_selected0 {
        background-position: 0 -40.05rem;
    }
    &.prize-item_selected1 {
        background-position: 0 -42.72rem;
    }
    &.prize-item_selected2 {
        background-position: 0 -45.39rem;
    }
    &.prize-item_selected3 {
        background-position: 0 -48.06rem;
    }
    &.prize-item_selected4 {
        background-position: 0 -50.73rem;
    }
}

.scroll, .lamp, .handle-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.lamp_selected {
    display: none;
}

.handle {
    .handle-item {
        display: none;
    }
    &.handle_selected1 .handle-item:nth-of-type(1) {
        display: block;
    }
    &.handle_selected2 .handle-item:nth-of-type(2) {
        display: block;
    }
    &.handle_selected3 .handle-item:nth-of-type(3) {
        display: block;
    }
}
